.content{
    padding: 50px;
}
.inner-icon-box{
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 15px;
    width: 100%;
}
.outer-icon-box{
    padding: 10px;
    display: inline-block;
}
.heading, .value{
    width: 100%;
}
.charts{
    display: inline-block;
}
.filter-icons{
    margin-bottom: 50px;
}
#pie-chart-container{
    width: 400px;
    height: 500px;
}
#bar-chart-container{
    width: 700px;
    height: 500px;
}
.chart-inner-div{
    border: 1px solid black;
    border-radius: 15px;
}
.chart-outer-div{
    margin: 10px;
}