<div class="content">
    <div class="filter-icons">
        <div *ngFor="let filterIcon of filterIcons" class="col-md-2 outer-icon-box">
            <div class="inner-icon-box text-center btn" [class]="filterIcon.css" routerLink="/todos" [queryParams]="{ status: filterIcon.status }">
                <label class="heading">{{filterIcon.title}}</label>
                <label class="value">{{filterIcon.value}}</label>
            </div>
        </div>
    </div>
    <div class="charts-div">
        <div class="col-md-6 charts">
            <div class="chart-outer-div">
                <div class="chart-inner-div">
                    <div id="pie-chart-container" class="chart-container d-block mx-auto">
                        <canvas id="pieChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 charts">
            <div class="chart-outer-div">
                <div class="chart-inner-div">
                    <div id="bar-chart-container" class="chart-container d-block mx-auto">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>