<app-header></app-header>
<div class="left-side">
    <div *ngIf="isLoading">
        <app-spinner></app-spinner>
    </div>
    <div class="table-content">
        <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody>
                <div *ngIf="!todos || !todos.length; else showTable">
                    <tr>
                        <td class="mat-cell" [attr.colspan]="todos.length">
                            No data available in table
                        </td>
                    </tr>
                </div>
                <ng-template #showTable>
                    <tr *ngFor="let todo of todos">
                        <td>{{todo?.id}}</td>
                        <td>{{todo?.title}}</td>
                        <td>{{todo?.description}}</td>
                        <td>{{todo?.user?.email}}</td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>