<app-header></app-header>
<div>
    <div *ngIf="isLoading">
        <app-spinner></app-spinner>
    </div>
    <div class="table-content">
        <table class="table table-bordered table-striped table-hover" id="todo-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <div *ngIf="!todos || !todos.length; else showTable">
                    <tr>
                        <td class="mat-cell" [attr.colspan]="todos.length">
                            No data available in table
                        </td>
                    </tr>
                </div>
                <ng-template #showTable>
                    <tr *ngFor="let todo of todos">
                        <td>{{todo?.id}}</td>
                        <td>{{todo?.title}}</td>
                        <td>{{todo?.description}}</td>
                        <td>{{todo?.user?.email}}</td>
                        <td>
                            <!-- <div *ngIf="todo?.status==='TODO'; else btn">
                                <button class="btn btn-success" (click)="completeTodo(todo?.id)">Complete</button>
                            </div>
                            <ng-template #btn>
                                COMPLETED
                            </ng-template> -->
                            {{todo?.status}}
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>