.loginbox {
    width: 20lh;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}
.login-heading{
    font-size: 26px;
    margin-bottom: 20px;
}
.btn-submit{
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 12px 12px;
}
body{
    margin-left: 0px;
}